<div
  class="sidebar"
  data-color="green"
  data-background-color="white"
  data-image="../assets/img/sidebar-1.jpg"
>
  <div class="logo">
    <a href="/" class="simple-text logo-normal">
      Học viện kỹ thuật quân sự
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item <%= active_class('home', 'index') %>">
        <a class="nav-link" href="/">
          <i class="fas fa-chart-line"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item
                  <%= active_class('roles', 'index') %>
                  <%= active_class('roles', 'edit') %>
                  <%= active_class('roles', 'new') %>">
        <a class="nav-link" href="/roles">
          <i class="fas fa-flag"></i>
          <p>Quản lý chức vụ</p>
        </a>
      </li>
      <li class="nav-item
                  <%= active_class('users', 'index') %>
                  <%= active_class('users', 'edit') %>
                  <%= active_class('users', 'new') %>">
        <a class="nav-link" href="/users">
          <i class="fas fa-users-cog"></i>
          <p>Tài khoản hệ thống</p>
        </a>
      </li>
      <li class="nav-item <%= active_class('permissions', 'index') %>">
        <a class="nav-link" href="/permissions">
          <i class="fas fa-user-times"></i>
          <p>Ủy quyền</p>
        </a>
      </li>
      <li class="nav-item
                  <%= active_class('subjects', 'index') %>
                  <%= active_class('subjects', 'edit') %>
                  <%= active_class('subjects', 'new') %>">
        <a class="nav-link" href="/subjects">
          <i class="fas fa-book"></i>
          <p>Quản lý môn học</p>
        </a>
      </li>
      <li class="nav-item
                  <%= active_class('students', 'index') %>
                  <%= active_class('students', 'edit') %>
                  <%= active_class('students', 'new') %>">
        <a class="nav-link" href="/students">
          <i class="fas fa-user-friends"></i>
          <p>Quản lý sinh viên</p>
        </a>
      </li>
      <li class="nav-item
                  <%= active_class('courses', 'index') %>
                  <%= active_class('courses', 'edit') %>
                  <%= active_class('courses', 'new') %>">
        <a class="nav-link" href="/courses">
          <i class="fas fa-book-open"></i>
          <p>Quản lý học phần</p>
        </a>
      </li>
      <li class="nav-item
                  <%= active_class('schedules', 'index') %>
                  <%= active_class('schedules', 'edit') %>
                  <%= active_class('schedules', 'new') %>">
        <a class="nav-link" href="/schedules">
          <i class="fas fa-calendar-alt"></i>
          <p>Quản lý lịch học</p>
        </a>
      </li>
    </ul>
  </div>
</div>
